<!doctype html>
<title>DCE Web</title>
<script type="text/javascript"
	src="{{ url_for('static', filename='js/jquery-2.1.3.min.js') }}"></script>
<script type="text/javascript"
	src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>

<link rel=stylesheet type=text/css
	href="{{ url_for('static', filename='css/jquery-ui.min.css') }}">
{% block page_header %}{% endblock %}
<link rel=stylesheet type=text/css
	href="{{ url_for('static', filename='css/style.css') }}">

<div class=page>
	<div class=page-header>
		<div id=site-title>
			<h1>
				<a href="{{ url_for('homePage') }}">Adapt Plotter</a>
			</h1>
		</div>
		<div class=nav>
			<ul>
				<li><a href="{{ url_for('homePage') }}">Home</a></li>
				<li><a href="{{ url_for('nodePage') }}">Nodes</a></li>
				<li><a href="{{ url_for('pointPage') }}">Points</a></li>
				<li><a href="{{ url_for('pathPage') }}">Paths</a></li>
			</ul>
		</div>
	</div>
	{% with messages = get_flashed_messages(with_categories=true) %} {% if
	messages %} {%- for category, message in messages %} {% set
	flash_category = "flash" %} {% if category %} {% set flash_category =
	[flash_category, " ", category ]%} {% set flash_category =
	flash_category|join %} {% endif %}
	<div class="{{ flash_category }}">{{ message }}</div>
	{% endfor %} {% endif %} {% endwith %}
	<div class=main>{% block body %}{% endblock %}</div>

</div>
