{% from "__formhelpers.html" import render_field %}
{% extends "layout.html" %}
{% block page_header %}
{% endblock %}
{% block body %}
  {% if form.new.data %}
  	<h3 class=page-title>Add New Node</h3> 
  	<form class='new-node' method=post action="{{ url_for('addEditNode') }}">
  {% else %}
  	<h3 class=page-title>Update Node</h3>
  	<form class='edit-node' method=post action="{{ url_for('addEditNode', node_id=form.id.data) }}">
  {% endif %}
    {{ form.hidden_tag() }}
    {{ form.location.hidden_tag() }}
    <dl>
      <div class="node text name">{{ render_field(form.name) }}</div>
      <div class="node select leader">
     	 {{ render_field(form.leader) }}
      </div>
      <div class="node text lat">{{ render_field(form.location.lat) }}</div>      
      <div class="node text lon">{{ render_field(form.location.lon) }}</div>
    </dl>
    <input class="btn" type=submit value=Submit>
  </form>
{% endblock %}
