{% extends "layout.html" %}
{% block page_header %}
{% endblock %}
{% block body %}
  <h3 class=page-title>Node Page</h3>    
  <div id="nodes">
    <table>
      <thead>
        <tr>
          <th class=node-id>ID</th>   
          <th class=node-name>Name</th>                  
          <th class=node-leader>Leader</th>
          <th class=node-edit>Edit</th>    
          <th class=node-delete>Delete</th>          
        </tr>
      </thead>
      <tbody>
        {% if nodes is defined %}          
          {% for node in nodes %}
            <tr>
              <td class=node-id>{{ node.id }}</td>
              <td class=node-name>{{ node.name }}</td>           
              {% if node.leader_id == 0 %}
              	<td class=node-leader>Self</td>
              {% else %}
              	<td class=node-leader>{{ node.leader.name }}</td>
              {% endif %}	                                   
              <td><button id="node-edit-{{ node.id }}" class="node-edit btn-small"><a href="{{ url_for('addEditNode', node_id=node.id) }}">edit</a></button></td>                   
              <td><button id="node-delete-{{ node.id }}" class="node-delete btn-small">delete</button></td>              
            </tr>	          
          {% else %}
            <tr>
              <td colspan=5>No nodes have been created.</td>
            </tr>
          {% endfor %}
        {% endif %}
      </tbody>
    </table>
    <button class='btn new-node new-item'><a href="{{ url_for('addEditNode') }}">New</a></button>
  </div>
{% endblock %}
