{% extends "layout.html" %}
{% block page_header %}
{% endblock %}
{% block body %}
  <h3 class=page-title>Obstacle Page</h3>    
  <div>
    <table id='obstacle' class='data-table'>
      <thead>
        <tr>
          <th class=obstacle-id>ID</th>   
          <th class=obstacle-lat>Latitude</th>                  
          <th class=obstacle-lon>Longitude</th>
          <th class=obstacle-edit>Edit</th>    
          <th class=obstacle-delete>Delete</th>          
        </tr>
      </thead>
      <tbody>
        {% if obstacles is defined %}          
          {% for obstacle in obstacles %}
            <tr>
              <td class=obstacle-id>{{ obstacle.id }}</td>
              <td class=obstacle-lat>{{ obstacle.location.lat }}</td>
              <td class=obstacle-lon>{{ obstacle.location.lon }}</td>           	                                   
              <td><button id="obstacle-edit-{{ obstacle.id }}" class="btn-edit btn-small"><a href="{{ url_for('addEditObstacle', oid=obstacle.id) }}">edit</a></button></td>                   
              <td><button id="obstacle-delete-{{ obstacle.id }}" class="btn-delete btn-small">delete</button></td>              
            </tr>	          
          {% else %}
            <tr>
              <td colspan=5>No obstacles have been created.</td>
            </tr>
          {% endfor %}
        {% endif %}
      </tbody>
    </table>
    <button class='btn new-obstacle new-item'><a href="{{ url_for('addEditObstacle') }}">New</a></button>
  </div>
{% endblock %}
