{% from "__formhelpers.html" import render_field, render_multi_field, render_path_point %}
{% extends "layout.html" %}
{% block page_header %}
  <script type="text/javascript" src="{{ url_for('static', filename='js/repeatable-fields.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/path.js') }}"></script>
{% endblock %}
{% block body %}
  <h3 class=page-title>Add New Path</h3>
  {% if form.new.data %} 
  	<form class='new-path' method=post action="{{ url_for('addEditPath') }}">
  {% else %}
  	<form class='edit-path' method=post action="{{ url_for('addEditPath', path_id=form.id.data) }}">
  {% endif %}
    {{ form.hidden_tag() }}
    <div class="node select leader">
     	 {{ render_field(form.node) }}
      </div>
    {# {{ render_multi_field(form.points) }} #}
    <div class="repeat">
      <table class="wrapper" width="100%">
        <thead>
          <tr>
              <th width="10%" colspan="6"><span class="add">Add</span></th>
          </tr>
        </thead>
        <tbody class="container">
          <tr class="template row">
          	{# <input class="csrf-tokens" id="points-{{ '{{' }}row-count-placeholder{{ '}}' }}-csrf_token" name="points-{{ '{{' }}row-count-placeholder{{ '}}' }}-csrf_token" type="hidden" value="{{ '{{' }}csrf-token-placeholder{{ '}}' }}"> #}
          	<input id="points-{{ '{{' }}row-count-placeholder{{ '}}' }}-pid" name="points-{{ '{{' }}row-count-placeholder{{ '}}' }}-pid" type="hidden" value="0">
          	<input id="points-{{ '{{' }}row-count-placeholder{{ '}}' }}-pos" name="points-{{ '{{' }}row-count-placeholder{{ '}}' }}-pos" type="hidden" class="position" value="{{ '{{' }}row-count-placeholder{{ '}}' }}">
            <td width="10%"><span class="move">Move</span></td>
            <td width="10%">Latitude</td>
            <td width="35%"><input type="text" id="points-{{ '{{' }}row-count-placeholder{{ '}}' }}-lat" name="points-{{ '{{' }}row-count-placeholder{{ '}}' }}-lat" /></td>
            <td width="10%">Longitude</td>
            <td width="35%"><input type="text" id="points-{{ '{{' }}row-count-placeholder{{ '}}' }}-lon" name="points-{{ '{{' }}row-count-placeholder{{ '}}' }}-lon" /></td>
		    <td width="10%"><span class="remove">Remove</span></td>
          </tr>
          {% if form.points|length != 0 %}
            {% for point in form.points %}
            	{{ render_path_point(loop.index0, point) }}       
            {% endfor %}
          {% else %}
            <tr>
              <td colspan=6>No paths have been created.</td>
            </tr>
          {% endif %}
        </tbody>
      </table>
    </div> 

    {% if form.new.data %} 
    	<input class="btn newPath new-item" type=submit value=Submit>
   	{% else %}
   		<input class="btn editPath edit-item" type=submit value=Submit>
   	{% endif %}	
  </form>
{% endblock %}
