{% extends "layout.html" %}
{% block page_header %}
{% endblock %}
{% block body %}
  <h3 class=page-title>Point Page</h3>    
  <div id="points">
    <table>
      <thead>
        <tr>
          <th class=point-id>ID</th>   
          <th class=point-lat>Latitude</th>                  
          <th class=point-lon>Longitude</th>
          <th class=point-edit>Edit</th>    
          <th class=point-delete>Delete</th>          
        </tr>
      </thead>
      <tbody>
        {% if points is defined %}          
          {% for point in points %}
            <tr>
              <td class=point-id>{{ point.id }}</td>
              <td class=point-lat>{{ point.location.lat }}</td>
              <td class=point-lon>{{ point.location.lon }}</td>           	                                   
              <td><button id="point-edit-{{ point.id }}" class="point-edit btn-small"><a href="{{ url_for('addEditPoint', point_id=point.id) }}">edit</a></button></td>                   
              <td><button id="point-delete-{{ point.id }}" class="point-delete btn-small">delete</button></td>              
            </tr>	          
          {% else %}
            <tr>
              <td colspan=5>No Nodes have been created.</td>
            </tr>
          {% endfor %}
        {% endif %}
      </tbody>
    </table>
    <button class='btn new-point new-item'><a href="{{ url_for('addEditPoint') }}">New</a></button>
  </div>
{% endblock %}
